<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <hr>
    <div>
        <h1><a>Multi-Modal ChatBot Application using Generation VL Model</a></h1>
        <br></br>
        <div style="display: flex; flex-direction: row; justify-content: center;">
            <a href="signup" style="margin-right: 10px;">SIGN UP</a>
            <a href="login" style="margin-left: 10px;">LOGIN</a>
        </div>
    </div>

</body>
</html>